    @media (min-width: 300px) {
                .grid-item1{
                  font-size:3.2vw;
                }
                .grid-item2{
                  font-size:2vw;
                }
                table{
                  font-size: 2vw;
                }
            }

    @media (max-width: 299px) {
                .grid-item1{
                  font-size:2.8vw;
                }
                .grid-item2{
                  font-size:1.6vw;
                }
                table{
                  font-size: 10vw;
                }
            }

    .grid {
        background-color: #ffcc80;
        display: grid;
        padding: 20px;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:  "head head"
                              "img1 hd1"
                              "img1 ft1"
                              "img2 hd2"
                              "img2 ft2"
                              "img3 hd3"
                              "img3 ft3";
    }
    #head{
      grid-area: head;
      font-size: 2.5vw;
      text-align: center;
      color: #ff5722;
    }
    #img1{
      grid-area: img1;
    }
    #img2{
      grid-area: img2;
    }
    #img3{
      grid-area: img3;
    }
    #hd1{
      grid-area: hd1;
    }
    #hd2{
      grid-area: hd2;
    }
    #hd3{
      grid-area: hd3;
    }
    #ft3{
      grid-area: ft3;
    }
    #ft2{
      grid-area: ft2;
    }
    #ft1{
      grid-area: ft1;
    }

    .grid-item1 {
        background-color: #fff3e0;
        color:#e65100;
        padding: 5px;
        text-align: center;
        align-content: center;
        align-self: bottom;
        height:auto;
        vertical-align: middle;
    }
    .grid-item2 {
        background-color: #fff3e0;
        color:#e65100;
        padding: 5px;
        text-align: center;
        align-self: top;
        line-height: normal;
        vertical-align:middle;;
        height:auto;

    }
    .grid-item3 {
        background-color: #fff3e0;
        color:#e65100;
        padding: 5px;
        align:center;
    }
    body{
      background: #fff3e0;
    }
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    span{
      display: inline-block;
      vertical-align: middle;
      line-height: 2.4vw; /* <-- adjust this */
    }
    h1{
      text-align: center;
      color: #ff5722;
    }
    table {
        margin: auto;
        border: 2px solid black;
        border-collapse: collapse;
        width: 50%;
    }

    th, td {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }

    th {
        background-color: #ffcc80;
    }
