        @media (min-width: 200px) {
          div{
            font-size:70%;
          }
        }

        @media (max-width: 199px) {
          div{
            font-size:70%;
          }
        }
    .grid {
        background-color: #ffcc80;
        display: grid;
        padding: 20px;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
        grid-template-columns: auto auto auto;


    }

    .grid-item1 {
        background-color: white;
        color:#e65100;
        padding: 5px;
        text-align: center;
        align-content: center;
        align-self: center;

         height:auto;
    }
    .grid-item2 {
        background-color: white;
        color:#e65100;
        padding: 5px;
        text-align: left;
        align-self: center;

        height:auto;

    }
    .grid-item3 {
        background-color: white;
        color:#e65100;
        padding: 5px;
        align:center;
    }
    body{
      background: #fff3e0;
    }
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
